#Contacts{
    text-align: center;
    padding: 20px;
    background-color: black;
  }
  
  .contact-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .contact-icon {
    font-size: 32px;
    color: #555;
    transition: color 0.3s ease;
  }
  
  .contact-icon:hover {
    color: #0077b5;
  }
  
  .contact-icon:hover .fa-github {
    color: #333;
  }
  
  .contact-icon:hover .fa-linkedin {
    color: #0e76a8;
  }
  
  .contact-icon:hover .fa-envelope {
    color: #d44638; /* Gmail hover color */
  }
  